.root{
	-fx-background-color:lightgrey;
}

#signUpLabel{
	-fx-font-family: "Comic Sans MS";
	-fx-border-width: 5;
	-fx-border-color: black;
	-fx-font-weight: bold;
	-fx-background-color: skyblue;
}

#usernameLabel, #passwordLabel, #passwordConfirmationLabel{
	-fx-font-family: "Comic Sans MS";
	-fx-font-weight: bold;
}