@font-face {
	src: url('../assets/fonts/VinqueRg.otf');
}
.root{
	-fx-background-color:black;
}
.title{
	-fx-font-family: 'Vinque Rg';
	-fx-text-fill: #d9a6f5;
	-fx-font-size: 45;
	-fx-border-color: #330452;
	-fx-border-width: 13;
	-fx-background-image: url('../assets/imgs/titleBg.jpg');
	-fx-background-size: 375;
	-fx-background-radius: 20 20 20 20;
}
#invalidPasswordLabel{
    -fx-text-fill: red;
}
#backToOptionsButton, #enterButton{
    -fx-font-family: 'Vinque Rg';
    -fx-text-fill: #d9a6f5;
    -fx-font-size: 38;
    -fx-border-color: #330452;
    -fx-border-width: 6;
    -fx-background-image: url('../assets/imgs/titleBg.jpg');
    -fx-background-size: 375;
    -fx-background-radius: 20 20 20 20;
}