@font-face {
	src: url('../assets/fonts/VinqueRg.otf');
}
.root{
	-fx-background-image:url('../assets/imgs/startMenuBg.jpg');
	-fx-background-size: stretch;
}
.title{
	-fx-font-family: 'Vinque Rg';
	-fx-text-fill: #d9a6f5;
	-fx-font-size: 45;
	-fx-border-color: #330452;
	-fx-border-width: 13;
	-fx-background-image: url('../assets/imgs/titleBg.jpg');
	-fx-background-size: 375;
	-fx-background-radius: 20 20 20 20;
}
.backButton{
	-fx-background-color: #d50fd9;
	-fx-background-radius: 20 20 20 20;
	-fx-font-family: 'Vinque Rg';
	-fx-text-fill: #fc9dee;
	-fx-font-size: 45;
	-fx-border-color: #a80aab;
	-fx-border-radius: 15 15 15 15;
	-fx-border-width: 5;
}
.backButton:hover{
	-fx-background-color: #e92fed;
	-fx-background-radius: 20 20 20 20;
	-fx-font-family: 'Vinque Rg';
	-fx-text-fill: #fc74e8;
	-fx-font-size: 45;
	-fx-text-fill: #f2bfeb;
}
.backButton:pressed{
	-fx-background-color: #bf29c2;
	-fx-background-radius: 20 20 20 20;
	-fx-font-family: 'Vinque Rg';
	-fx-text-fill: #fc74e8;
	-fx-font-size: 45;
}
.table-view {
    -fx-font-family: 'Garamond';
    -fx-font-size: 15;
}
.table-view .column-header, .table-view .filler{
    -fx-background-color: linear-gradient(to bottom, #AB3DDB, #FB4796);
    -fx-padding: 0 0 5px 0;
}
.table-row {
    -fx-border-style: solid;
    -fx-border-width: 1;
}
.table-column {
    -fx-border-style: solid;
    -fx-border-width: 1;
}
#loadTableButton{
    -fx-background-color: #2fd2fa;
    -fx-background-radius: 20 20 20 20;
    -fx-font-family: 'Vinque Rg';
    -fx-text-fill: white;
    -fx-font-size: 38;
    -fx-border-color: #00beed;
    -fx-border-radius: 15 15 15 15;
    -fx-border-width: 3;
}
#loadTableButton:hover{
    -fx-background-color: #57deff;
	-fx-background-radius: 20 20 20 20;
	-fx-font-family: 'Vinque Rg';
	-fx-text-fill: white;
	-fx-font-size: 38;
	-fx-border-color: #00beed;
	-fx-border-radius: 15 15 15 15;
	-fx-border-width: 3;
}
#loadTableButton:pressed{
    -fx-background-color: #13c2ed;
	-fx-background-radius: 20 20 20 20;
	-fx-font-family: 'Vinque Rg';
	-fx-text-fill: white;
	-fx-font-size: 38;
	-fx-border-color: #00beed;
	-fx-border-radius: 15 15 15 15;
	-fx-border-width: 3;
}
