@font-face {
	src: url('../assets/fonts/VinqueRg.otf');
}

.root{
	-fx-background-image: url("../assets/imgs/sign-in-up-background.jpg");
	-fx-background-size: stretch;
}

#signUpLabel{
	-fx-font-family: "Vinque Rg";
	-fx-text-fill: #ffbdd6;
	-fx-font-size: 25;
	-fx-border-width: 5;
	-fx-border-color: black;
	-fx-font-weight: bold;
	-fx-background-image:url("../assets/imgs/sign-in-up-label-background.jpg");
}

#usernameLabel, #passwordLabel, #passwordConfirmationLabel{
	-fx-font-family: "Vinque Rg";
	-fx-text-fill: #ffbdd6;
	-fx-font-size: 25;
	-fx-font-weight: bold;
}
.button{
	-fx-background-color: #2fd2fa;
	-fx-background-radius: 20 20 20 20;
	-fx-font-family: 'Vinque Rg';
	-fx-text-fill: #cbeef7;	
	-fx-font-size: 18;
	-fx-border-color: #00beed;
	-fx-border-radius: 15 15 15 15;
	-fx-border-width: 3;
}
.button:hover{
	-fx-background-color: #57deff;	
	-fx-background-radius: 20 20 20 20;
	-fx-font-family: 'Vinque Rg';	
	-fx-font-size: 18;
}
.button:pressed{
	-fx-background-color: #13c2ed;
	-fx-background-radius: 20 20 20 20;
	-fx-font-family: 'Vinque Rg';
	-fx-font-size: 18;
}