@font-face {
	src: url('../assets/fonts/VinqueRg.otf');
}

.root{
	-fx-background-image: url("../assets/imgs/sign-in-up-background.jpg");
	-fx-background-size: stretch;
}

#signInLabel{
	-fx-font-family: "Vinque Rg";
	-fx-text-fill: #b8f2fc;
	-fx-font-size: 25;
	-fx-border-width: 5;
	-fx-border-color: black;
	-fx-font-weight: bold;
	-fx-background-image:url("../assets/imgs/sign-in-up-label-background.jpg");
}

#usernameLabel, #passwordLabel, #dontHaveAccountLabel{
	-fx-font-family: "Vinque Rg";
	-fx-text-fill: #b8f2fc;
	-fx-font-size: 25;
	-fx-font-weight: bold;
}
.backButton{
	-fx-background-radius: 10 10 10 10;
	-fx-background-image: url('../assets/imgs/icon_return.png');
	-fx-background-size: stretch;
	-fx-background-repeat: no-repeat;
	-fx-background-color: transparent;
	-fx-border-color: transparent;
}
.backButton:pressed{
	-fx-background-radius: 10 10 10 10;
	-fx-background-image: url('../assets/imgs/icon_return_clicked.png');
	-fx-background-size: stretch;
	-fx-background-repeat: no-repeat;
	-fx-background-color: transparent;
	-fx-border-color: transparent;
}
.backButton:hover{
	-fx-background-radius: 10 10 10 10;
	-fx-background-image: url('../assets/imgs/icon_return_hover.png');
	-fx-background-size: stretch;
	-fx-background-repeat: no-repeat;
	-fx-background-color: transparent;
	-fx-border-color: transparent;
}
.textButton{
	-fx-background-color: #2fd2fa;
	-fx-background-radius: 20 20 20 20;
	-fx-font-family: 'Vinque Rg';
	-fx-text-fill: #cbeef7;	
	-fx-font-size: 18;
	-fx-border-color: #00beed;
	-fx-border-radius: 15 15 15 15;
	-fx-border-width: 3;
}
.textButton:hover{
	-fx-background-color: #57deff;	
	-fx-background-radius: 20 20 20 20;
	-fx-font-family: 'Vinque Rg';	
	-fx-font-size: 18;
}
.textButton:pressed{
	-fx-background-color: #13c2ed;
	-fx-background-radius: 20 20 20 20;
	-fx-font-family: 'Vinque Rg';
	-fx-font-size: 18;
}
.errorLabel{
	-fx-font-family: "Garamond";
	-fx-font-size: 16;
	-fx-text-fill: "red";
}