@font-face {
	src: url('../assets/VinqueRg.otf');
}
.root{
	-fx-background-image:url('../assets/startMenuBg.jpg');
	-fx-background-size: stretch;
}

.button{
	-fx-background-color: #2067e3;
	-fx-background-radius: 20 20 20 20;
	-fx-font-family: 'Vinque Rg';
	-fx-text-fill: #f29249;	
	-fx-font-size: 45;
	-fx-border-color: #1d4ea3;
	-fx-border-radius: 15 15 15 15;
	-fx-border-width: 5;
}
.button:hover{
	-fx-background-color: #2c71e8;	
	-fx-background-radius: 20 20 20 20;
	-fx-font-family: 'Vinque Rg';
	-fx-text-fill: #f29249;	
	-fx-font-size: 45;
}
.button:pressed{
	-fx-background-color: #2965cf;
	-fx-background-radius: 20 20 20 20;
	-fx-font-family: 'Vinque Rg';
	-fx-text-fill: #f29249;	
	-fx-font-size: 45;
}
.label{
	-fx-font-family: 'Vinque Rg';
	-fx-text-fill: #b74df0;
	-fx-border-color: #330452;
	-fx-border-width: 13;
	-fx-background-image: url('../assets/titleBg.jpg');
	-fx-background-size: 375;
	-fx-background-radius: 20 20 20 20;
}
